*{
    margin: 0;
    font-family: Arial;
    border: border-box;

}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    


}

.navlogo{
    height: 50px;
    width: 100px;

}
.logo{
    background-image: url(amazon_logo.png);
    height: 50px;
    width: 100%;
    background-size: cover;
}

.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 2px solid white;
    border-radius: 10px;

}
.addicon{
    display: flex;
}
.add1{
    color: #cccccc;
    font-size: 0.9rem;
    align-items: center;
    margin-left: 15px;
}
.add2{
    font-size: 1rem;
    margin-left: 3px;
    line-height: 1.5rem;
}
.navsearch{
    display: flex;
    background-color: pink;
    width: 620px;
    height: 40px;
    justify-content: space-evenly;
    border-radius: 5px;
}
.searchselect{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 50px;
    text-align: center;
    background-color: #f3f3f3;
    border: none;
}
.searchinput{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.searchicon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background-color: rgb(255, 162, 0);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color:#0f1111;

}
.navsearch:hover{
    border: 2px solid rgb(255, 123, 0);
}
span{
    font-size: 0.85rem;
}

.nav2{
    font-size: 0.85rem;
    font-weight: 700;
    line-height: 20px;
}

.navcart i {
    font-size: 30px;

}
.navcart{
    font-size: 0.85rem;
    font-weight: 700;
}
.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
    
}
.panelop p {
    display: inline;
    margin-left: 15px;

}
.panelop{
    width: 70%;
    font-size: 0.85rem;
}
.paneldeals{
    font-size: 0.9rem;
    font-weight: 700;
}
.panelop p:hover{
    border: 2px solid rgb(247, 2, 2);
    border-radius: 5px;
    color: rgb(76, 0, 255);
    background-color: rgb(0, 255, 102);
}
.paneldeals:hover{
    color:greenyellow;
    border-bottom: 2px dashed white;
    
}

main {
    width: min(1500px, 100%);
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.carousel {
    width: 100%;
    height: 500px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.carousel .slides-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.carousel .slides-container::-webkit-scrollbar {
    display: none;
}

.slides-container .slide {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 100%;
    overflow: hidden;
}

.slide .content {
    width: 100%;
    height: 100%;
}

.slide .content img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.slide .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    scale: 2;
    margin: 1rem;
}

.slide .prev {
    left: 1rem;
}

.slide .next {
    right: 1rem;
}

.carousel .text {
    width: 95%;
    position: absolute;
    text-align: center;
    font-size: .7rem;
    background-color: #f5f6f6;
    padding: 1rem;
    margin-bottom: 2rem;
}

.carousel .text a {
    text-decoration: none;
    font-weight: bold;
    color: #007185;
}

.items-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    background-color: #c9cbcf82;
    padding: 0 2rem 2rem 2rem;
}

.item-card {
    height: 400px;
    display: flex;
    flex-direction: column;
    flex: 1 0 300px;
    gap: 1rem;
    font-size: .7rem;
    background-color: white;
    padding: 1rem;
    cursor: pointer;
    overflow: hidden;
}

.item-card img {
    height: 300px;
    width: 100%;
    border: 2px solid black;
    object-fit: cover;
}

.item-card a {
    text-decoration: none;
    font-weight: bold;
    color: #007185;
}

/* Footer */
.back-option {
    text-decoration: none;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .5rem;
    font-weight: bold;
    color: white;
    background-color: #37475A;
}

.footer-links {
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    background-color: #232F3E;
    color: white;
}

.footer-links ul {
    margin-top: 3rem;
}

.footer-links ul p {
    font-weight: bold;
}

.footer-links ul a {
    display: block;
    font-size: .7rem;
    color: #dddddd;
    margin-top: 1rem;
    cursor: pointer;
}

.footer-links ul a:hover {
    text-decoration: underline;
}

.country-info {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #232F3E;
    color: white;
    border-top: 0.5px solid #84868878;
}

.country-info .logo img {
    width: 50px;
}

.country-info .options {
    display: flex;
    gap: .5rem;
    margin-left: 3rem;
}

.country-info .options select {
    font-size: .5rem;
    text-decoration: none;
    color: #cccccc;
    background: transparent;
    border: 1px solid #848688;
    border-radius: 3px;
    padding: .5rem;
}

.policies {
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    font-size: .5rem;
    color: white;
    background-color: #131A22;
}

.pages a {
    text-decoration: none;
    color: white;
    margin-left: 1rem;

}

/* Small Devices */
@media screen and (max-width: 900px) {
    :root {
        font-size: 2vw;
    }

    /* Header  */
    nav {
        height: 5vw;
    }

    .nav-logo img {
        width: 7vw;
    }

    .nav-center {
        height: 4vw;
    }

    .search-dropdown {
        width: 7vw;
    }

    .search-box {
        width: 1vw;
    }

    .search-icon i {
        padding: .5rem .5rem;
    }

    .flag {
        width: 2vw;
    }

    .cart-logo {
        width: 3vw;
    }

    .nav-options {
        height: 5vw;
    }

    /* Main */
    .carousel {
        height: 30vw;
    }

    .arrow i {
        height: 4vw;
    }


    .item-card {
        height: 25vw;
        flex: 1 0 20vw;
        font-size: .5rem;
    }

    .item-card img {
        height: 14vw;
    }

    /* Footer */
    .back-option {
        height: 5vw;
    }

    .footer-links {
        height: 40vw;
    }

    .country-info .logo img {
        width: 7vw;
    }

    .policies {
        height: 8vw;
    }
}

